/* @font-face {
  font-family: "LimeLight";
  src: url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
} */

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
  background-image: 
    radial-gradient(#006E7A 13%, transparent 13%),
    radial-gradient(#006E7A 13%, transparent 13%);
  background-position: 0px 0px, 12px 12px;
  background-size: 24px 24px;
  background-color: #00A5B8;
}

a {
  text-decoration: none;
}

#canvas {
  display: block;
  margin: auto;
  background: #fff;
  border: 3px solid #4B4448;
}

.container {
  display: flex;
  justify-content: center;
}

.text-box {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 20%;

  background-color: #F46786;
  border: 3px, Solid, #4B4448;
  border-radius: 10px;

  font-family: "Limelight", sans-serif;
  font-size: 20px;
  color: #101010;

  display:flex;
  justify-content: center;
  align-items: center;
}

.title-card{
  font-size: 40px;
  width: 65%;
  height: 130px;
  font-weight: bold;
}

.subhead {
  font-size: 30px;
  width: 50%;
  height: 50px;
  margin-bottom: 30px
}

.button {
  border-radius: 30px;
  transition:background 0.2s ease transform 0.2s ease;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.2);
  border: 2.8px Solid #000;
}

.button:active {
  background-color: #670000;
}

/* preview image */
.preview{
  display:block;
  margin:2rem auto 0;
  max-width:450px;
  border-radius: 10px;
  border: 2.8px Solid #000;
  width:80%;
  opacity:0;
  transition:opacity 0.2s ease;
}